<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJrLHTuANWto6g_Gpx5-RwILoI3dDNax4</string>
	<key>GCM_SENDER_ID</key>
	<string>115964457386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.clanofpets.in</string>
	<key>PROJECT_ID</key>
	<string>petshop-f9137</string>
	<key>STORAGE_BUCKET</key>
	<string>petshop-f9137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115964457386:ios:8228414ad8f1fe04ad7bd3</string>
</dict>
</plist>